@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}


a:link {
  text-decoration: none;
  color: black;
}


a:visited {
  text-decoration: none;
  color: black;
}


a:hover {
  text-decoration: none;
  color: black;
}


a:active {
  text-decoration: none;
  color: black;
}