.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circlesFirst {
    position: relative;
    height: 275px;
    width: 275px;
    margin-left: -135px;
}

.circlesSecond {
    position: relative;
    height: 275px;
    width: 275px;
    margin-left: 135px;
}

.circle {
    position: absolute;
    border: 1px solid darkgreen;
    border-radius: 300px;
    width: 300px;
    height: 300px;
}

.menu {
    position: absolute;
    margin-left: -300px;
    margin-top: 150px;
}