.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.explanation {
    font-family: 'New Tegomin', serif;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card {
    border: 1px black solid;
    border-radius: 10px;
    width: auto;
    height: auto;
    min-height: 170px;
    min-width: 170px;
}

.singleCardWrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cardAndTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.timeCards {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .timeCards {
        display: flex;
        flex-direction: column;
    }
}

.constellationCards {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 1fr;
    grid-column-gap: 200px;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .constellationCards {
        display: flex;
        flex-direction: column;
    }
}

.person {
    grid-area: person;
}

.title {
    font-family: 'New Tegomin', serif;
}

.selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}